<div class="container" style="width: 500px; margin: auto">
<form id="login" method="post">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Ingresa tu email">
        <small id="emailHelp" class="form-text text-muted">No compartiremos tu email con nadie más</small>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>

<script type="text/javascript">
    const formLogin = document.querySelector('#login')
    const formData  = new FormData(formLogin)
    console.log(formLogin)
    formLogin.addEventListener('submit', (event) => {
        event.preventDefault()
        fetch('/api/signIn', {
            method : 'POST',
            body: formData
        })
        .then(res => res.json())
        .then(data => {
            localStorage.setItem('token', data.token)
        })

    })
</script>
